#mc-dnd-mount {
  height: 100%;
}

.mc-dnd-block {
  border: 1px solid #000000;
}

.mc-dnd-column {
  border: 1px solid #000000;
}

.mc-dnd-grid {
  display: grid;
}

.mc-dnd-header {
  border: 1px solid #000000;
  text-align: center;
}